{% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="itineries">
    <div id="hero-space"></div>
    <div class="container py-16">
        <div class="grid sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4">
            
            {% for itinerary in itineraries %}
                <div class="p-2 bg-gray-100 rounded">
                    <img src="{{ itinerary.image.url }}" alt="{{ itinerary.name }}">
                    <a href="{% url 'destinations:itinerary-detail' itinerary.pk %}" class=" text-primary-900 font-semibold">{{ itinerary.name }}</a>
                </div>
            {% endfor %}
                
        </div>
    </div>
</section>
{% endblock content %}
    