{% load static %}


<header class="fixed w-full z-50 bg-white bg-opacity-60" id="navbar-sticky">
    <div class="container">
        <nav class="flex justify-between">
            <div class="nav-brand">
                <a href="/" class="">
                    <img src="{% static 'img/logo.png' %}" alt="Kaizen Safaris" class=" max-h-28">
                </a>
            </div>
            <div class="menu grid content-center">
                <ol class="nav-list list-none flex gap-5 lg:gap-20 text-xl text-black">
                    <!-- <li class="lg:grid content-center hidden"><a href="/" class="">Home</a></li> -->
                    <li class="md:grid content-center relative dropdown hidden bg-white rounded-2xl px-4" x-data="
                    {
                        destinations: null,
                        getDestinations() {
                            fetch('{% url 'api:destinations' 'all' %}')
                                .then((response) => response.json())
                                .then((json) => this.destinations = json);
                        }
                    }
                    " x-init="getDestinations()">
                        <a class=" cursor-default">Destinations</a>
                        <div class="dropdown-content absolute bg-white hidden py-4 rounded w-full">
                            <template x-for="destination in destinations">
                                <a @click="window.location.href = `/destinations/${destination.id}`"
                                    x-text="destination.name"
                                    class="my-1 text-center hover:bg-slate-400 w-full px-3 cursor-pointer"></a>
                            </template>
                        </div>
                    </li>
                    <li class="md:grid content-center hidden bg-white rounded-2xl px-4"><a href="{% url 'main:equipment-view' %}" class="">Camping
                            Equipment</a></li>
                    <li class="md:grid content-center hidden bg-white rounded-2xl px-4"><a href="{% url 'main:gallery-view' %}"
                            class="">Gallery</a></li>
                    <li class=" bg-primary-900 p-2 px-3 rounded"><a href="{% url 'contacts:book_now' %}"
                            class="text-white">Book Now</a></li>
                    <li class="grid content-center md:hidden text-3xl p-2">
                        <i class="fas fa-bars" id="menu-btn"></i>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
</header>


{% block styles %}
<style>
    .dropdown:hover .dropdown-content {
        display: grid;
        top: 100%;
    }
</style>
{% endblock styles %}